<div class="footer-container">
    <div class="social-media-container">
        <img src="assets/facebook.png" alt="">
        <img src="assets/twitter.png" alt="">
        <img src="assets/instagram.png" alt="">
    </div>
    <p>© 2024 Borbiro. All Rights Reserved.</p>
</div>