<header>
    <div class="header-container">
        <div class="left-container">
            <a href="/">
                <img src="assets/blog.png" alt="">
            </a>
            <h1>Borbiro's Blog</h1>
        </div>
        <div class="right-container">
            <a class="button" href="/"><span class="text">Home</span></a>
            <a class="button" href="/create"><span class="text">Create a post</span></a>
        </div>
    </div>
</header>

    