<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/header.css">
</head>
<body >
    <%- include("partials/header.ejs") %>
    <div style="display: flex; width: 100%; height: 70%; justify-content: center; padding-top: 20px;">
        <img src="https://media3.giphy.com/media/l0Iyl55kTeh71nTXy/giphy.gif?cid=6c09b9520trnxh1n5ydaxp8hnicr2jxvpls7h4glxa4c3l3e&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g" alt="">
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>